{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: transparent;"></div>
    <!-- Contenido de la página -->



</div>
<!-- ./wrapper -->




