{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background: linear-gradient(to bottom, rgb(240, 223, 38), rgb(24, 201, 89), rgb(71, 25, 221))">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> Mi proyecto <small></small></h1>
            <h1 class="m-0 text-dark"> Generacion Fotovoltaica.</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body" style="text-align: justify;">
                <h5 class="card-title">Funcion de la pagina</h5>

                <p class="card-text">
                  Esta pagina tiene la funcionalidad de realizar los calculos necesarios para saber que cantidad de paneles solares y de cuanta capacidad debe ser el inversor para la planificacion e instalacion de un sistema fotovoltaico en un hogar. 
                </p>
              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-body" style="text-align: justify;">
                <h5 class="card-title">Que necesitas?</h5>
                <p class="card-text">
                  Con solo tener el consumo electrico de los ultimos 6 meses y la potencia del panel que piensa usar, al ingresar los datos se calcula el promedio del perfil de carga del hogar, cuantos paneles se requiere para cubrir esa carga y de cuanto debe ser su inversor respectivo, ademas de generar un pdf con los datos obtenidos.
                </p>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">Tarea</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Proyecto A</h6>

                <p class="card-text">Sistema fotovoltaico conectado a la red. El software debe calcular el número de paneles requeridos y el tipo de inversor requerido. Los datos de entrada son la radicación solar del punto de ubicación, los últimos 6 consumos de una factura de Afinia.</p>
              
              </div>
            </div> 

            
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar cossssntent</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

