<!DOCTYPE html>
<html>
<head>
<body class="center-text">
<div class="wrapper">
  <div class="content-wrapper"><style>
    
    </style>
  <title>Galería de imágenes</title>
  <style>
    <style> 
    .center-text {
      text-align: center;
    }
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    <style>
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .gallery-group {
      display: flex; /* Alinea el grupo en una fila */
      margin-bottom: 20px;
    }

    .group-title {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }

    .gallery-item {
      width: 300px;
      margin: 10px;
      text-align: center;
    }

    .gallery-item img {
      max-width: 100%;
      max-height: 200px;
    }
  </style >
</head>
<body >
  <h1>Galería de Paneles</h1>
  <div class="gallery" >
    <div class="gallery-group">
      <h2 class="group-title">Paneles solares de 100 W a 300 W</h2>
      <div class="gallery-item">
        <img src="img/panel 1.jpg" alt="Imagen 1">
        <p>Renogy 200 Watt 12 Volt Solar Monocristalino</p>
      </div>
      <div class="gallery-item">
        <img src="img/panel 2.png" alt="Imagen 2">
        <p>Goal Zero Ranger 300 Cargador Panel Solar Flexible 300 Watts</p>
      </div>
      <div class="gallery-item">
        <img src="img/panel 10.png" alt="Imagen 3">
        <p>Mighty Max Battery 100w Solar Panel</p>
      </div>
    </div>
    <div class="gallery-group">
      <h2 class="group-title">Paneles solares de 350 W a 500 W</h2>
      <div class="gallery-item">
        <img src="img/panel 4.png" alt="Imagen 6">
        <p>Panel Solar: Trina Solar 500 Watt</p>
      </div>
      <div class="gallery-item">
        <img src="img/panel 3.png" alt="Imagen 4">
        <p>Panel Solar Plegable Ecoflow 400 Watts</p>
      </div>
      <div class="gallery-item">
        <img src="img/panel 6.png" alt="Imagen 5">
        <p>Panel Solar Netion 450w Monocristalino Fotovoltaico</p>
      </div>
    </div>
    <div class="gallery-group">
      <h2 class="group-title">Paneles solares de 600 W a 700 W</h2>
      <div class="gallery-item">
        <img src="img/panel 5.jpg" alt="Imagen 7">
        <p>PanelSunPower - 600 Watts 12 Volts Rigid Monocrystalline S</p>
      </div>
      <div class="gallery-item">
        <img src="img/panel11.png" alt="Imagen 8">
        <p>700w Solar Wind Power</p>
      </div>
  </div>
  </div>
</div>
</body>
</body>
</html>
